* {
	margin:0;
	padding:0;
	font-family: "SFProDisplay";
}

ul {
	list-style:none;
}
a:not(.on-index) {
	text-decoration:none;
}
.on-index {
	font-size:15px;
}

.level__one{
	font-size:20px;
}
.level__two {
	display:none;
}
.level__one {
	float:left;
	position: absolute;
 
}
.level__one_item {
	float: left;
	margin-left: 20px;
	width:130px;
}
.level__two_item a{
	color:lightblue;
}
a:hover {
	text-decoration:underline;
}

.level__one_item:hover > .level__two{
	display:block;
}

/*Слайдер*/
.slider-block{
	width: 300px;
    height: 200px;
    overflow: hidden;
    position: relative;
	margin: 0 auto;
	margin-top:50px;
}
.slider{
	position: absolute;
    left: 0;
    top: 0;
    height: 200px;
    margin: 0;
    padding: 0; 
}
.slide {
	width:300px;
	height:200px;
	float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

.arrow-prev {
	    left: 0;
    background: url(../img/intro-prev.png) no-repeat 12px 13px;
	    position: absolute;
    width: 50px;
    height: 80px;
    top: 50%;
    background-color: black;
    z-index: 1;
    opacity: 0.1;
}

.arrow-next {
	position: absolute;
    background: url(../img/intro-next.png) no-repeat 12px 13px;
	width: 50px;
    height: 80px;
    top: 50%;
	right:0;
    background-color: black;
    z-index: 1;
    opacity: 0.1;
}


.slider__nav{
	position: absolute;
    bottom: 0;
    text-align: center;
	width:100%;
}

.slide__nav{
	width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 50%;
    margin: 3px;
	list-style: none;
	display:inline-block;
	cursor:pointer;
}

.slide__nav.active {
	background-color: red;
}
.contacts__map {
/*Яндекс карта*/
    width: 1000px;
    height: 1000px;
    margin: auto auto;
   
}
