doctype html
html(lang='ru')
    title АЗПИ-2
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, user-scalable=yes')
    link(href='./css/style.css', rel='stylesheet')
    body
        h1.title Мой основной Заголовок
        p.text Текст...
        script(src='./js/scripts.js')